@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<UdemyTestSite.ViewModels.AccountViewModel>
@using UdemyTestSite.Controllers
@using Umbraco.Cms.Core.Security
@inject Umbraco.Cms.Core.Services.IMemberService memberService
@inject IMemberManager _memberManager
@model UdemyTestSite.ViewModels.AccountViewModel

@{
    //Html.EnableClientValidation();
    //Html.EnableUnobtrusiveJavaScript();
}

<div class="container">
   <div class="row">
        <div class="col">
            <h2>My Account</h2>
            <!-- If this is postback - success show a message -->
            <!-- Display specific model errors -->
            @if (TempData["status"] != null)
            {
                if ((string)TempData["status"] == "Updated Details")
                {
                    <p>Your account has been updated</p>
                }
                else
                {
                    <p>Thanks for changing your password.</p>
                }
                            

            }
            else
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- Otherwise, Show the form -->
                <!-- Update Details Form -->
                @using (Html.BeginUmbracoForm<AccountController>(nameof(AccountController.HandleUpdateDetails), FormMethod.Post))
                    {
                    @Html.AntiForgeryToken()

                    <h2 class="h3">Update your details:</h2>

                    <!-- Name -->
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="mb-1" style="font-size:.95em;">Name *</label>
                        <input asp-for="Name" class="form-control mb-1" id="InputName" aria-describedby="name update" placeholder="Enter name" />
                        <span class="field-validation-valid text-danger" asp-validation-for="Name"></span>
                    </div>

                    <!-- Email -->
                    <div class="form-group mb-3">
                        <label asp-for="Email" class="mb-1" style="font-size:.95em;">Email *</label>
                        <input asp-for="Email" class="form-control mb-1" id="InputEmail" aria-describedby="email update" placeholder="Enter email" />
                        <span class="field-validation-valid text-danger" asp-validation-for="Email"></span>
                    </div>

                    <!-- Username (hidden if not to be edited directly) -->
                    @Html.HiddenFor(m => m.Username)


                    <button class="btn btn-outline-primary" type="submit" value="Update Details" name="update-button">Update</button>
                }

                <!-- Update Password Form -->
                @using (Html.BeginUmbracoForm<AccountController>(nameof(AccountController.HandlePasswordChange), FormMethod.Post))
                {

                    @Html.AntiForgeryToken()

                    <h2 class="h3">Change your password:</h2>

                    @* @Html.HiddenFor(m => m.Name)
                    @Html.HiddenFor(m => m.Email)
                    @Html.HiddenFor(m => m.Username) *@

                    <!-- Old Password -->
                    <div class="form-group mb-3">
                        <label asp-for="OldPassword" class="mb-1" style="font-size:.95em;">Old Password *</label>
                        <input asp-for="OldPassword" class="form-control mb-1" id="InputOldPassword" aria-describedby="old password" placeholder="Enter old password" />
                        <span class="field-validation-valid text-danger" asp-validation-for="OldPassword"></span>
                    </div>

                    <!-- New Password -->
                    <div class="form-group mb-3">
                        <label asp-for="NewPassword" class="mb-1" style="font-size:.95em;">New Password *</label>
                        <input asp-for="NewPassword" class="form-control mb-1" id="InputNewPassword" aria-describedby="new password" placeholder="Enter new password" />
                        <span class="field-validation-valid text-danger" asp-validation-for="NewPassword"></span>
                    </div>

                    <!-- Confirm Password -->
                    <div class="form-group mb-3">
                        <label asp-for="ConfirmPassword" class="mb-1" style="font-size:.95em;">Confirm Password *</label>
                        <input asp-for="ConfirmPassword" class="form-control mb-1" id="InputConfirmPassword" aria-describedby="confirm password" placeholder="Confirm password" />
                        <span class="field-validation-valid text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>

                    <button class="btn btn-outline-primary" type="submit" value="Change Password" name="password-button">Change Password</button>
                }
                }
            }
        </div>
    </div>
</div>



